{
  "token": "MTI0MzcyNjEwNTgxNTI4NTg0MA.GmptuD.10-6BlfpIfEhonjXpSo8b6NMz6VTQh17AhdwRQ",
  "prefix": "!",
  "owner_id": "941080787678294026",
  "presence_type": "PLAYING",
  "channel_id": "1226348348223782913",
  "shuffle": true,
  "pause_on_empty": true,
  "owner_reporting": false,
  "soundcloud_client_id": "",
  "youtube_cookie": "",
  "playing_status": "{status_icon} {song_name}",
  "intermission_interval": null
}
